@page "/"

<PageTitle>Index</PageTitle>

<SomeLoaderComponent Data="dataFromServer" Context="loadedData">
    <h2>@loadedData.Value</h2>
</SomeLoaderComponent>

@*<SomeLoaderComponent TData="SomeDataFromServer" Data="dataFromServer" Context="loadedData">
    <h2>@loadedData.Value</h2>
</SomeLoaderComponent>
*@
@code {
    private SomeDataFromServer? dataFromServer;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Task.Delay(TimeSpan.FromSeconds(5));
        dataFromServer = new SomeDataFromServer("Mock data");
    }

    public record SomeDataFromServer(string Value);
}
